.header {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
}
.menu {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}
.menu a {
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.container {
    background-color: rgb(119, 18, 97);
    max-width: 900;
    margin: 10px auto;


}
hr {
border: 1px solid gray;
margin: 20px 0;
}



.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.section a {
background-color: skyblue;
padding: 10px 10px;
color: black;
text-decoration: none;
border-radius: 10px;
display: inline-block;
}

.contact-info {
background-color: lightsalmon;
padding-left: 20px ;
padding-bottom: 20px;
padding-top: 20px;
margin-left: blue;
margin-left: 5px;
}

.footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}






